Random

In [1]:
from numpy.random import default_rng
rng = default_rng()
vals = rng.standard_normal(10)
mor_vals = rng.standard_normal(10)

In [8]:
print(repr(vals) + '\n' + repr(mor_vals))

array([-0.31034904, -0.01762733, -0.14783917,  0.20751258, -0.96450782,
       -0.34846201,  1.77497543,  0.27972328, -0.42621552,  0.74993098])
array([ 0.09152835, -0.39780416,  2.34292135,  0.77745672, -1.46323029,
       -0.14857399,  1.53557383,  0.30875831, -1.55180389, -1.48200827])

In [12]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.randn(1000, 5),
                     columns=['a', 'b', 'c', 'd', 'e'])
print(frame)

            a         b         c         d         e
0    0.790473  0.601814 -0.208289 -0.996770 -0.535662
1   -0.415016  0.219546 -0.600794 -0.004743  0.037975
2    0.350332 -0.064094  1.165006 -0.516458 -0.525516
3    0.367867 -1.715007 -0.899683  0.579857 -0.070973
4   -0.140796 -0.969789  0.203318  0.493086  1.217511
..        ...       ...       ...       ...       ...
995 -0.886821  0.686526 -1.664053  1.090774 -0.346796
996  1.089639  0.487155  0.350233  1.898949 -0.703143
997 -0.317189  1.219322 -1.105447 -1.665037 -1.897025
998  2.010151  0.698088  1.544246  1.067293 -1.165457
999  0.364957  1.282201  0.551837  0.061544 -1.431466

[1000 rows x 5 columns]

In [13]:
frame.cov()

          a         b         c         d         e
a  1.057425  0.043451 -0.054462  0.019868  0.068246
b  0.043451  1.021950 -0.015110 -0.028407 -0.054950
c -0.054462 -0.015110  0.995842 -0.036487 -0.047129
d  0.019868 -0.028407 -0.036487  1.009299  0.020987
e  0.068246 -0.054950 -0.047129  0.020987  0.958799

In [15]:
frame['a'].cov(frame['a'])

1.0574245523528076