In [2]:
from pandas import Series, DataFrame

In [3]:
kakao = Series([100, 200])
print(kakao)

0    100
1    200
dtype: int64

In [4]:
raw_data = {'col0' : [1, 2, 3, 4],
            'col1' : [10, 20, 30, 40],
            'col2' : [100, 200, 300, 400]}
data = DataFrame(raw_data)
print(data)

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

In [5]:
date = ['16.02.29', '16.02.26', '16.02.23', '16.02.27']
data1 = DataFrame(raw_data, index=date)
print(data1)

          col0  col1  col2
16.02.29     1    10   100
16.02.26     2    20   200
16.02.23     3    30   300
16.02.27     4    40   400

In [6]:
day_data1 = data1.loc['16.02.29']
print(day_data1)

col0      1
col1     10
col2    100
Name: 16.02.29, dtype: int64

In [7]:
col1 = data1['col1']
print(col1)

16.02.29    10
16.02.26    20
16.02.23    30
16.02.27    40
Name: col1, dtype: int64

In [8]:
print(data1.columns)
print(data1.index)

Index(['col0', 'col1', 'col2'], dtype='object')
Index(['16.02.29', '16.02.26', '16.02.23', '16.02.27'], dtype='object')

In [9]:
data1

          col0  col1  col2
16.02.29     1    10   100
16.02.26     2    20   200
16.02.23     3    30   300
16.02.27     4    40   400

In [10]:
data1.transpose()

      16.02.29  16.02.26  16.02.23  16.02.27
col0         1         2         3         4
col1        10        20        30        40
col2       100       200       300       400

In [13]:
data1.columns = ['A', 'B', 'C']
data1

          A   B    C
16.02.29  1  10  100
16.02.26  2  20  200
16.02.23  3  30  300
16.02.27  4  40  400

In [15]:
[[4, 9]] * 3

[[4, 9], [4, 9], [4, 9]]

In [22]:
data2 = data1.copy()
data2.index = [0, 1, 2, 3]
data2

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400

In [23]:
data2.apply(lambda x, y: x+y, (0,'A'))

ValueError: No axis named (0, 'A') for object type DataFrame